<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/1.jpeg" alt="cat profile">
<p>
  I’m Shivranjan Pathak, currently pursuing a BTech in Computer Science and Engineering with a specialization in Cybersecurity and Forensics at MIT World Peace University. Alongside my academic journey, I am interning at Unimind Cognition, where I am gaining hands-on experience in real-world projects, further enhancing my skills in software and web development. My true passion lies in the realms of software development, web development, and Artificial Intelligence (AI). I have always been fascinated by technology's potential to solve complex problems and improve lives through innovative, user-friendly applications.

Throughout my studies, I have developed a diverse skill set that includes proficiency in multiple programming languages, frameworks, and tools. I take pride in my attention to detail and my ability to approach challenges with a logical, results-driven mindset. My work is driven by a deep-seated curiosity and a desire to continuously learn and evolve, staying updated with the latest industry trends and advancements, particularly in AI and its applications.

I am also passionate about collaborating with like-minded professionals, sharing ideas, and exploring new opportunities that allow me to contribute to the tech community. Whether it's developing cutting-edge software, crafting seamless user experiences, or delving into AI research, I am always eager to take on new challenges and make a meaningful impact in the world of technology..</p>


  <%- include("partials/footer.ejs") %>