<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Hi, I'm Shivranjan Pathak, a passionate software developer and tech enthusiast currently interning at Unimind Cognition. Here, I’m honing my skills in full stack development and contributing to cutting-edge projects in the realm of AI.
</p>
<p>    What Drives Me?
    My journey in technology is fueled by a deep curiosity and a relentless drive to innovate. Whether it’s developing user-friendly applications, diving deep into web development, or exploring the vast possibilities of Artificial Intelligence, I’m always on the lookout for new challenges and opportunities to grow.
    
    
  </p>
  <p>
    Current Endeavors:
<ul>
  
  <li>Intern at Unimind Cognition: Engaged in exciting projects where I’m learning, experimenting, and pushing the boundaries of what’s possible in tech.</li>
<li>Full Stack Development: Building robust, scalable, and user-centric applications that solve real-world problems.</li>
<li>AI Exploration: Delving into the world of AI, exploring its potential, and applying it to create smarter, more intuitive solutions.
  Metusgravida.</li>
</ul>
</p>

<p>Connect with Me
  I’m always eager to connect with like-minded professionals, share ideas, and collaborate on innovative projects. Let’s join forces and shape the future of technology together!
  
  </p>





  <%- include("partials/footer.ejs") %>